html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');



a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Merriweather', serif;
}


#ourLogo img{
  width: 200px;
  position:absolute;
  top:10%;
  left:50%;
  transform: translate(-50%,-50%)
}


#bigNav{
  height: 400px;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)),url("/navbar component.png");

  background-repeat: none;
  background-size: cover;
}





.navbar{
  position:absolute;
  margin-top: 100px;
  padding: 50px;
  display: flex;
  box-sizing: border-box;
  text-decoration: none;
  color: aliceblue;

  top:10%;
  left:50%;
  transform: translate(-50%,-50%);

  transition: all 0.5s ease;
}

.navbar ul {
  list-style-type: none;
  display: flex;
}

.navbar ul li{
  margin : 0 70px;
  font-size: 1em;
 
}


.navbar ul li a:hover{
  color:rgb(206, 175, 0);
  font-weight: bolder;
 
}


#secondaryNav{
  margin-left: 3%;
}


#secondaryNav ul{
  margin-top:40px;
  list-style-type: none;
  display: flex;
  position: absolute;
  
}

#secondaryNav ul li{
  margin:0 50%;
}


.favoriteImage{
  width: 35px;
  transition: all 1s ease;
}

.favoriteImage:hover{
  width: 50px;
}


.searchNav{
 
  float: right;
  margin-top: 40px;
  margin-right: 5%;
  display: flex;
  transition: all 0.5s ease;
}


.searchNav ul li img{
  width: 30px;
  
}


.searchNav ul li img:hover{
  width: 40px;
  transition: all 0.5s ease;
}


.searchNav ul li{
  list-style-type: none;
  margin: 0 5%;
  
}

.searchNav ul{
  display: flex;
}


.inputSearch{
  border-radius: 2em;
  height: 2em;
  padding: 3px 15px 3px 15px;
}

.gradient-custom-2 {
  /* fallback for old browsers */
  background: #fccb90;
  
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
  }
  
  @media (min-width: 768px) {
  .gradient-form {
  height: 100vh !important;
  }
  }
  @media (min-width: 769px) {
  .gradient-custom-2 {
  border-top-right-radius: .3rem;
  border-bottom-right-radius: .3rem;
  }
  }

.categorieHover a:hover{
  color:burlywood;
}





.slides{
  background-color: #c1b7a4;
  width: 100%;
  height: 400px;
 
  display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 100px;
    
}

.slides .slidesDetails{
  width: 50%;
  float: right;
  margin-left: 10%;
}

.slides .slidesDetails h5{
  font-weight:bold;
  line-height: 1.5em;
  
}

#left{
 opacity: 20%;
}

#right{
  opacity:20%;
}


.fixedimg{
  width: 500px;
}



.shades{
  text-shadow: 2px 2px 2px black;
}

.bold{
  font-weight: bolder;
}

.toggleColor{
  background-color: rgba(0, 0, 0, 0.071);
  color: rgb(152, 105, 5);
}

.dark{
  background-color: rgba(0, 0, 0, 0.107);
}

#forHer{
  margin-top: 5%;
}

#test{
  background-color: #c1b7a4;
}

#bgcart{
  height: 1100px;
  background-image: url("/navbar component.png");
  
  background-size: cover;
}

#all{
  font-weight: bolder;
  float: right;
}


#groupitems{
  margin-top: 20px;
  width: 30%;
  display: grid;
  display: inline-block;
}

#groupitems .groupitemCard{
  margin: 0 25px 25px;
  border-radius: 2em;
  padding: 2em;
  box-shadow: 2px 5px 20px 2px rgba(0, 0, 0, 0.17);
  display: inline-block;
  display: grid;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: rgb(0, 0, 0);
    background: rgb(234, 234, 234);
  }
}

.gradient-custom {
  /* fallback for old browsers */
  background: #f093fb;
  
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1));
  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1))
  }
  
  .card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: .75em;
  padding-right: .75em;
  }
  .card-registration .select-arrow {
  top: 13px;
  }